.posts .entry-title {
    font-size: 18px;
    margin-bottom: 0.3em;
    font-weight: 600;
}
.latestnews {
    margin-bottom: 15px;
    margin-top: 15px;
}
.entry-info{
    min-height: 150px;
}
.entry-info .readmore-link{
    position: absolute;
    bottom: 15px;
    width: 75%;
}
.entry-info .readmore-link a{
    float: right;
}
.latestnews .latestnews-title .el-heading {
    background: #078b4e;
}